/* SCSS Variables */
$HeaderHeading_desktop: 65px;
$HeaderSubheading_desktop: 45px;

$HeaderHeading_mobile: 75px;
$HeaderSubHeading_mobile: 45px;

$exercise-grey: #d1d1d1;
$exercise-darkgrey: #2d2d2d;

$article-fontSize: 20px;

$mobile-breakpoint: 600px;